*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    overflow: hidden;
    background-image: url("https://4kwallpapers.com/images/wallpapers/fluidic-glossy-gradient-background-purple-background-6016x3384-7641.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#digitalClock{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    font-size: 15vmin;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
    color:whitesmoke;
    
}

